<div class="row flex-md-row">
  <div class="h-divider">&nbsp;</div>
  <div class="col-md text-center" style="margin:20px 0px 20px 0px;">
      <div style="padding-bottom:5px;">
          <h4>Made with <svg style="color:RED" class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
                  </svg>
          by caring punekars</h4>
       </div>
       <div class="text-center">
         <a href="https://chavakula.com" rel="noreferrer" aria-label="chavakula Rajshekar Website" target="_blank"><img width="60" src="assets/engineer-a.png" alt="Rajshekar Chavakula" /></a>
         <a href="https://vinodborole.com" rel="noreferrer" aria-label="Vinod Borole Website" target="_blank"><img width="60" src="assets/engineer-b.png" alt="Vinod Borole" /></a>
       </div>
  </div>
  <div class="h-divider">&nbsp;</div>
  <div class="col-md text-center" style="margin:20px 0px 20px 0px;">
      <div style="padding-bottom:5px;">
           This is a opensource initiative, contributions are most welcome. You can find Github repositories for code at bottom of the page.
           Your Suggestions & Queries are welcome. <br>We can be contacted @ <a href="mailto:mh12tracker@gmail.com?subject=feedback">mh12tracker[at]gmail[dot]com</a> <br>
       </div>
       <div class="text-center">

         <a href="https://github.com/vinodborole/mh12covid19" target="_blank"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsSAAALEgHS3X78AAABpElEQVRIx6WVu0pDQRCGNzEHxUiw9QksLbUxCjYR8QUUFTUICVgIKVS0Cmqr9cHGS6XkASzSBwkEEVLEWjsNQRAiGP+VObAOc257Bj5CZna/ZSe7G6WCIwWmwQG4AQ/ELTgEMzQmdmTADuiAQQgdGpuJKp8EzQhiTpPmBsYs6FrIPbrkEGMK9BLIPXrk+hdZ1u87sAyuwHeATNeuaew9+12y5gJVNnGT7WyNPicIM+fFFnNUvUJOaM26xcnbEFql3Wpb2HrZYoGy4NG7+uu3mWzHOdPs7rSZS7vVC0seKfs4Zi7tVl8suZJggVXm0m71E3CC4gY/SdqtPljyNMECZ8yl3eqRJZ8tX8gUzTVd2q0uhONVtFigKHjOdSHPeqY/+2APOBHEDo3tCwvkva21KLFPr+EbfX8FLlgUxEvg0hjLaZmtLhiFXbDAHrk5YYH5kFe1wCe4VHgHY/RXeQJKPjd7JEDuSr0cBnXjiudCej/kI6+TS4xRUKOBn6ABnkgmvT1cXiNH6HkuUau8iY7P6RkYbS3FvT/joELtSgv1NNUqNFaMX1rc9iuwOC/iAAAAAElFTkSuQmCC" /></a>
         &nbsp;
         <a href="https://github.com/chavakula/mh12tracker" target="_blank"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsSAAALEgHS3X78AAABpElEQVRIx6WVu0pDQRCGNzEHxUiw9QksLbUxCjYR8QUUFTUICVgIKVS0Cmqr9cHGS6XkASzSBwkEEVLEWjsNQRAiGP+VObAOc257Bj5CZna/ZSe7G6WCIwWmwQG4AQ/ELTgEMzQmdmTADuiAQQgdGpuJKp8EzQhiTpPmBsYs6FrIPbrkEGMK9BLIPXrk+hdZ1u87sAyuwHeATNeuaew9+12y5gJVNnGT7WyNPicIM+fFFnNUvUJOaM26xcnbEFql3Wpb2HrZYoGy4NG7+uu3mWzHOdPs7rSZS7vVC0seKfs4Zi7tVl8suZJggVXm0m71E3CC4gY/SdqtPljyNMECZ8yl3eqRJZ8tX8gUzTVd2q0uhONVtFigKHjOdSHPeqY/+2APOBHEDo3tCwvkva21KLFPr+EbfX8FLlgUxEvg0hjLaZmtLhiFXbDAHrk5YYH5kFe1wCe4VHgHY/RXeQJKPjd7JEDuSr0cBnXjiudCej/kI6+TS4xRUKOBn6ABnkgmvT1cXiNH6HkuUau8iY7P6RkYbS3FvT/joELtSgv1NNUqNFaMX1rc9iuwOC/iAAAAAElFTkSuQmCC" /></a>

       </div>
  </div>
</div>
