
<h2 class="confirm" style="font-size: 20px!important;">Confirmed Patients Trend</h2>
<div><canvas id="confirmstats">{{ confirmChart }}</canvas></div>
<div>&nbsp;</div>
<h2 class="active" style="font-size: 20px!important;">Active Patients Trend</h2>
<div><canvas id="activestats">{{ activeChart }}</canvas></div>
<div>&nbsp;</div>
<h2 class="recovered" style="font-size: 20px!important;">Recovered Patients Trend</h2>
<div><canvas id="recoverstats">{{ recoverChart }}</canvas></div>
<div>&nbsp;</div>
<h2 class="deaths" style="font-size: 20px!important;">Death Patients Trend</h2>
<div><canvas id="deathstats">{{ deathChart }}</canvas></div>
