<div class="row flex-md-row">
  <div class="col-md text-center" style="margin-top:20px;">
      <a href="/" rel="noreferrer" aria-label="mh12.org home" class="navbar-left"><img alt="coronavirus pune tracker" src="/assets/logo-covid.png" width="200"></a>
      <marquee behavior="scroll" direction="left" scrollamount="4" onmouseover="this.stop();" onmouseout="this.start();">
         Pune 24x7 Helplines for Hospital Bed Management : 02026138082 / 02026138083, 
         Website: <a href="https://www.divcommpunecovid.com/ccsbeddashboard/hsr" target="_blank">Click Here</a>
      </marquee>
    </div>
   <div class="h-divider">&nbsp;</div>
 </div>
<div class="text-center">last update: <span class="dateclass">{{jstoday | timeAgo}}</span></div>
