<div class="container">
  <div class="row">
    <div class="col-md text-center" style="margin-top:20px;">
        <a href="/" aria-label="mh12.org home" class="navbar-left"><img alt="coronavirus pune tracker" src="/assets/logo-covid.png" width="200"></a>
     </div>
     <div class="h-divider">&nbsp;</div>
   </div>
   <div class="text-center">last update: <span class="dateclass">{{jstoday}}</span></div>
  <div class="row flex-md-row">
   <div class="col-md-6">
     <div>&nbsp;</div>
     <div class="card">
        <div class="container">
          <div class="row">
            <div class="col" style="position:relative;padding:0px">
                <div class="canimate confirm text-center" style="animation-delay: 1s;">
                  <h5>Confirmed</h5>
                  200<svg style="position:absolute" class="bi bi-arrow-up-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 5.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V6a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                      <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 5.707 5.354 8.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"/>
                  </svg>
                  <h4>40000</h4>
                  <div>&nbsp;</div>
                  <div style="position:relative; width:80px;margin:auto;"><canvas id="confirm">{{ confirmChart }}</canvas></div>
                </div>
            </div>

            <div class="col" style="position:relative;padding:0px">
                <div class="canimate active text-center" style="animation-delay: 1.1s;">
                  <h5>Active</h5>
                  200<svg style="position:absolute" class="bi bi-arrow-up-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 5.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V6a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                      <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 5.707 5.354 8.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"/>
                  </svg>
                  <h4>40000</h4>
                  <div>&nbsp;</div>
                  <div style="position:relative; width:80px;margin:auto;"><canvas id="active">{{ activeChart }}</canvas></div>
                </div>
            </div>

            <div class="col" style="position:relative;padding:0px" >
                <div class="canimate recovered text-center" style="animation-delay: 1.2s;">
                  <h5>Recovered</h5>
                  20<svg style="position:absolute" class="bi bi-arrow-up-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 5.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V6a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                      <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 5.707 5.354 8.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"/>
                  </svg>
                  <h4>4923</h4>
                  <div>&nbsp;</div>
                  <div class="text-center" style="position:relative; width:80px;margin:auto;"><canvas id="recover">{{ recoverChart }}</canvas></div>
                </div>
            </div>

            <div class="col" style="position:relative;padding:0px">
                <div class="canimate deaths text-center" style="animation-delay: 1.3s;">
                  <h5>Deaths</h5>
                  50<svg style="position:absolute" class="bi bi-arrow-up-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 5.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V6a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                      <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 5.707 5.354 8.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"/>
                  </svg>
                  <h4>988</h4>
                  <div>&nbsp;</div>
                  <div style="position:relative; width:80px;margin:auto;"><canvas  id="death">{{ deathChart }}</canvas></div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="text-center">
                <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                        <svg class="bi bi-bell" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 16a2 2 0 002-2H6a2 2 0 002 2z"/>
                        <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 004 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 00-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 111.99 0A5.002 5.002 0 0113 6c0 .88.32 4.2 1.22 6z" clip-rule="evenodd"/>
                      </svg> News
                </button>
              </div>
              <div id="collapseExample" [ngbCollapse]="isCollapsed">
                <div class="card">
                  <div class="card-body">
                    <p>
                      <ngb-alert>
                        This alert's type is success and it's not dismissible because the config has been customized
                      </ngb-alert>
                    </p>

                    <p>
                      <ngb-alert>
                        This alert's type is success and it's not dismissible because the config has been customized
                      </ngb-alert>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>
   </div>
   <div class="col-md-6 canimate" style="animation-delay: 1.7s;">
     <div>&nbsp;</div>
     <table class="table table-striped">
       <thead>
         <tr>
           <th>#</th>
           <th>Area</th>
           <th>Cases</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <th scope="row">1</th>
           <td>Aundh - Baner</td>
           <td>4</td>
         </tr>
         <tr>
           <th scope="row">2</th>
           <td>Bhawani Peth</td>
           <td>266</td>
         </tr>
         <tr>
           <th scope="row">3</th>
           <td>Bibwewadi</td>
           <td>36</td>
         </tr>
         <tr>
           <th scope="row">4</th>
           <td>Dhankawadi - Sahakarnagar</td>
           <td>64</td>
         </tr>
         <tr>
           <th scope="row">5</th>
           <td>Dhole Patil</td>
           <td>203</td>
         </tr>
         <tr>
           <th scope="row">6</th>
           <td>Hadapsar Mundhwa</td>
           <td>51</td>
         </tr>
         <tr>
           <th scope="row">7</th>
           <td>Kasba - Visharambaghwada</td>
           <td>157</td>
         </tr>
         <tr>
           <th scope="row">8</th>
           <td>Kondhwa - Yewalewadi</td>
           <td>19</td>
         </tr>
         <tr>
           <th scope="row">9</th>
           <td>Kothrud - Bavdhan</td>
           <td>2</td>
         </tr>
         <tr>
           <th scope="row">10</th>
           <td>Nagar Road - Wadgoansheri</td>
           <td>35</td>
         </tr>
         <tr>
           <th scope="row">11</th>
           <td>Shivaji Nagar - Ghole Road</td>
           <td>190</td>
         </tr>
         <tr>
           <th scope="row">12</th>
           <td>Singhagad Road</td>
           <td>11</td>
         </tr>
         <tr>
           <th scope="row">13</th>
           <td>Wanawadi - Ramtekdi</td>
           <td>63</td>
         </tr>
         <tr>
           <th scope="row">14</th>
           <td>Warje - Karve Nagar</td>
           <td>9</td>
         </tr>
         <tr>
           <th scope="row">15</th>
           <td>Yerwada - Kalas - Dhanori</td>
           <td>167</td>
         </tr>
         <tr>
           <th scope="row">16</th>
           <td>Pune Rural</td>
           <td>58</td>
         </tr>
       </tbody>
      </table>
   </div>
 </div>

 <div class="row">
   <div class="h-divider">&nbsp;</div>
   <div class="col-md text-center" style="margin-top:20px;">
       Made with <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
</svg>
        by caring punekar
   </div>
   <div>&nbsp;</div>

 </div>

</div>
