<div class="data">
    <div id="title">Pune Confirmed Cases</div>
    <div id="cases">10643</div>
</div>
<div class="deaths" style="font-size:10px"><i>Map Last updated : 17th June 2020 23:35pm</i></div>
<div>
  <svg class="punemap" style="display: block;margin-left: auto;margin-right: auto;" id = "map" width="400" height="400" viewBox="0 0 400 400"   preserveAspectRatio="xMidYMid"></svg>
</div>
<div class="container" style="width:100%">
    <div class="row">
        <div class="col">
            <input type="radio" name="cases" class="checkbox" value="confirmedbubble" checked> &nbsp;<label>Confirmed</label>
            &nbsp;&nbsp;
            <input type="radio" name="cases" class="checkbox" value="activebubble"> &nbsp;<label>Active</label>
            &nbsp;&nbsp;
            <input type="radio" name="cases" class="checkbox" value="recoveredbubble"> &nbsp;<label>Recovered</label>
        </div>
    </div>
</div>
